{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href ={% static 'css/styles.css' %} rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="formulario"
        <h1 class="title">Agende aqui</h1>
        <div class="inputs">
            <input type="text" placeholder="nome" name="nome">
            <label for="data">Data</label>
            <input type="date" name="data">
            <button>enviar</button>
        </div>
</body>
</html>