{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href ={% static 'css/styles.css' %} rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="login">

        <div class="caixa">
            
            
            <h1>AGENDE AQUI</h1>

            <div class="nome">
                <input type="text" placeholder="Nome">
            </div>

            <div class="cpf">
                <input type="text" placeholder="CPF">
            </div>

            <div class="especialidade_div"> 
                <select id="especialidade" name="especialidade">
                <option selected disabled>Especialidade</option>
                <option value="Ortopedista">Ortopedista</option>
                <option value="Pediatria">Pediatria</option>
                <option value="Cardiologista">Cardiologista</option>
                <option value="Endócrino">Endócrino</option>
                <option value="Clínico-Geral">Clínico-Geral</option>
                <option value="Neurologista">Neurologista</option>
                <option value="Cirurgião">Pediatria</option>
                <option value="Oftalmologista">Oftalmologista</option>
                </select>
            </div>

            <div class="data">
                <input type="date" placeholder="data">
            </div>

            <div class="botao">
                <button>Agendar</button>
            </div>


        </div>

    </div>
    
    
</body>
</html>